@import "~react-toolbox/lib/commons";

$border-colour: #999999;

.body {
	padding: 20px
}
* {
    padding:0;
    margin:0;
}

html{
    font:14px normal Arial, sans-serif;
    color:#626771;
    background-color:#fff;
}

body{
    padding:30px;
    text-align: center;
}

#random {
    font-size: 24px;
    background-color: #dddddd;
    align: center;
}

/* The search fields. */
input[type=text]{
    text-align: center;
    font: inherit;
    border: 6px solid $border-colour;
    padding: 5px 5px;
    font-size: 15px;
    box-shadow: 0 1px 1px #DDD;
    width: 263px;
    outline: none;
    display: block;
    color: #7B8585;
    margin: 0 auto 20px;
}

/* The table objects (cardSearch, combineCards, cardSearch). */
td{
	vertical-align: top;
    padding: 3px;
}

/* The list container. */
ul{
    list-style: none;
    display: inline-block;
    width: 263px;
    text-align: left;
}

/* The individual list items. */
ul li{
    display: block;
    padding: 10px 15px;
    background-color: #F8F8F8;
    color: #7B8585;
    margin-bottom: 3px;
    position: relative;
    
    transition: 0.3s;
}

tr td img{

    /*-moz-animation-name: rotateCard;
    -moz-animation-iteration-count: 1;
    -moz-animation-timing-function: ease-in;
    -moz-animation-duration: 1s;

    -webkit-animation-name: rotateCard;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: ease-in;
    -webkit-animation-duration: 1s;

    animation-name: rotateCard;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: 1s;*/
}

/* The card images within the table items within the table items. */
tr td tr td img{
    /*height: 200px;*/
    /*transform: scale(0.6, 0.6);
    -ms-transform: scale(0.6, 0.6);
    -webkit-transform: scale(0.6, 0.6);*/
    align: top;
    padding: 3px;
    transition: 0.3s;

    /*height: 160px;*/
}

/* Those images when hovered over. */
/*tr td tr td img:hover{
    /*height: 311px
    transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
}*/

tr td tr td{       
    background-color: #7B8585;
    color: #F8F8F8;

    transform: scale(0.6, 0.6);
    -ms-transform: scale(0.6, 0.6);
    -webkit-transform: scale(0.6, 0.6);
    overflow: visible;
    transition: 0.3s;
    border-radius: 5px;
    margin-right: -50px !important;
}

/* The individual table items (card combine results) when hovered over. */
tr td tr td:hover{
    color: #7b8585;
    background-color:#d8f2f1;
    transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
}


@-moz-keyframes rotateCard {
    0% {
        -moz-transform: rotateY(90);
    }
    100% {
        -moz-transform: rotateY(0);
    }
}
@-webkit-keyframes rotateCard {
    0% {
        -webkit-transform: rotateY(90);
    }
    100% {
        -webkit-transform: rotateY(0);
    }
}
@keyframes rotateCard {
    0% {
        transform: rotateY(90);
    }
    100% {
        transform: rotateY(0);
    }
}