@import "~react-toolbox/lib/commons";
@import url(//fonts.googleapis.com/css?family=Dosis:400,600);

$border-colour: #999999;

.body {
	padding: 20px;
}
* {
    padding:0;
    margin:0;
}

html{
    font:14px normal Arial, sans-serif;
    color:#626771;
    background-color:#fff;
}

body{
    padding:30px;
    font-family: 'Dosis';
    text-align: center;
    background-image: url(/src/data/img/Gray_Patterned_BG.jpg);
}

#random {
    font-size: 24px;
    background-color: #dddddd;
}

.WeightScale{
    display: block;
}

/* The search fields. */
input[type=text]{
    text-align: center;
    font: inherit;
    border: 6px solid $border-colour;
    padding: 5px 5px;
    font-size: 15px;
    /*box-shadow: 0 1px 1px #DDD;*/
    width: 263px;
    outline: none;
    display: block;
    color: #f4f4f4;
    background-color: rgba(#7B8585, 0.3);
    margin: 0 auto 20px;
}

input[type=range]{
    padding: 5px 5px;
    width: 263px;
    display: inline-block;
    background-color: transparent;
}

input[type=range]::-ms-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  border-width: 16px 0;
  color: transparent;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #2196f3;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #2196f3;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}

tr td div img{
    border-radius: 13px;
}

/* The table objects (cardSearch, combineCards, cardSearch). */
td{
	vertical-align: top;
    padding: 3px;
}

/* The list container. */
ul{
    list-style: none;
    display: inline-block;
    width: 263px;
    text-align: left;
}

/* List items when hovered. */
.react-autosuggest__suggestion--focused{
    background-color: #F8F8F8;
    color: #7B8585;
}

/* The individual list items. */
ul li{
    display: block;
    padding: 10px 15px;
    background-color: rgba(#7B8585, 0.5);
    color: #F8F8F8;
    margin-bottom: 3px;
    position: relative;
    
    transition: 0.3s;
}

/* List items when hovered. */
ul li:hover, ul li:focus{
    background-color: #F8F8F8;
    color: #7B8585;
}

/* The focus buttons. */
#search-button {
    width: 40px;
    height: 40px;
    background-color: #abcdef;
    opacity: 0.5;
    border-radius: 3px;
    border: 0;
    transition: 0.3s;
}

#search-button svg {
    width: 30px;
    height: 30px;
    fill: #7B8585;
}

#search-button:hover {
    opacity: 1;
    border-radius: 15px;
    background-color: #2196f3;
    color: #abcdef;
}

#search-button svg:hover {
    fill: #abcdef;
}

/* The focus buttons (small). */
#search-button-small {
    position: relative;
    top: 3px;
    width: 22px;
    height: 22px;
    background-color: #000000;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    border: 0;
    transition: 0.3s;
}

#search-button-small svg {
    width: 20px;
    height: 20px;
    fill: #ffffff;
}

#search-button-small:hover {
    opacity: 1;
    background-color: #ffffff;
}

#search-button-small svg:hover {
    fill: #000000;
}

/* The crosshair buttons. */
#highlight-button {
    width: 40px;
    height: 40px;
    background-color: #abcdef;
    opacity: 0.5;
    border-radius: 3px;
    border: 0;
    transition: 0.3s;
}

#highlight-button svg {
    width: 30px;
    height: 30px;
    fill: #7B8585;
}

#highlight-button:hover {
    opacity: 1;
    border-radius: 15px;
    background-color: #2196f3;
    color: #abcdef;
}

#highlight-button svg:hover {
    fill: #abcdef;
}

/* The small crosshair buttons. */
#highlight-button-small {
    position: relative;
    top: 3px;
    width: 22px;
    height: 22px;
    background-color: #000000;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    border: 0;
    transition: 0.3s;
}

#highlight-button-small svg {
    width: 20px;
    height: 20px;
    fill: #ffffff;
}

#highlight-button-small:hover {
    opacity: 1;
    background-color: #ffffff;
}

#highlight-button-small svg:hover {
    fill: #000000;
}

/* The text under Any/Start checkbox. */
.tip {
    display: inline;
    width: 100px;
    font-size: 12px;
}

/* The random card buttons. */
.button {
    position: relative; /* Needed this and top to counteract the padding. */
    top: -9px;
    padding: 10px;
    background-color: #abcdef;
    color: #7B8585;
    opacity: 0.5;
    font-family: "Dosis";
    border-radius: 3px;
    border: 0;
    transition: 0.3s;
}
.button:hover{
    opacity: 1;
    border-radius: 15px;
    background-color: #2196f3;
    color: #abcdef;
}
/* The combine button. */
.button2 {
    margin-top: 200px;
    padding: 10px;
    background-color: #abcdef;
    color: #7B8585;
    font-family: "Dosis";
    border-radius: 3px;
    border: 0;
    transition: 0.3s;
}
.button2:hover{
    opacity: 1;
    border-radius: 15px;
    background-color: #2196f3;
    color: #abcdef;
}
.button2:disabled{
    opacity: 0.3;
    background-color: #abcdef;
    color: #7B8585;
    border-radius: 3px;
}

/* Overwrite the chart's font. Probably a better way of doing this, but this works. */
tr td div div svg{
    font-family: "Dosis" !important;
}

/* The switch styling. */
.onoffswitch {
    position: relative; width: 80px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 0px solid #FFFFFF; border-radius: 20px;
}
.onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    transition: margin 0.2s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; float: left; width: 50%; height: 24px; padding: 0; line-height: 24px;
    font-size: 12px; color: white; font-family: "Dosis"; font-weight: bold;
    box-sizing: border-box;
}
.onoffswitch-inner:before {
    content: "Start"; /* "on" */
    padding-left: 10px;
    background-color: #2196F3; color: #FFFFFF;
}
.onoffswitch-inner:after {
    content: "Any"; /* "off" */
    padding-right: 10px;
    background-color: #FFFFFF; color: #2196F3;
    text-align: right;
}
.onoffswitch-switch {
    display: block; width: 18px; margin: 3px;
    background: #2196F3;
    position: absolute; top: 0; bottom: 0;
    right: 52px;
    border: 0px solid #FFFFFF; border-radius: 20px;
    transition: all 0.2s ease-in 0s; 
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px; 
    background-color: #FFFFFF; 
}