@import "~react-toolbox/lib/commons";

$border-colour: #999999;

.body {
	padding: 20px
}
* {
    padding:0;
    margin:0;
}

html{
    font:14px normal Arial, sans-serif;
    color:#626771;
    background-color:#fff;
}

body{
    padding:30px;
    text-align: center;
}

#random {
    font-size: 24px;
    background-color: #dddddd;
    align: center;
}

/* The search fields. */
input[type=text]{
    text-align: center;
    font: inherit;
    border: 6px solid $border-colour;
    padding: 5px 5px;
    font-size: 15px;
    box-shadow: 0 1px 1px #DDD;
    width: 263px;
    outline: none;
    display: block;
    color: #7B8585;
    margin: 0 auto 20px;
}

/* The table objects (cardSearch, combineCards, cardSearch). */
td{
	vertical-align: top;
    padding: 3px;
}

/* The list container. */
ul{
    list-style: none;
    display: inline-block;
    width: 263px;
    text-align: left;
}

/* The individual list items. */
ul li{
    display: block;
    padding: 15px 20px;
    background-color: #F8F8F8;
    color: #7B8585;
    margin-bottom: 3px;
    position: relative;
    
    transition: 0.3s;
}

/* The card images within the list items. */
ul li img{
    /*height: 200px;*/
    transform: scale(0.6, 0.6);
    -ms-transform: scale(0.6, 0.6);
    -webkit-transform: scale(0.6, 0.6);
    align: top;
    padding: 3px;
    transition: 0.3s;
}

/* Those images when hovered over. */
ul li img:hover{
    /*height: 311px*/
    transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
}

ul li a{
    position: absolute;
    left: 160px;
    font-size: 12px;
    line-height: 16px;
    color: #969d9d;
}

/* The individual list items when hovered over. */
ul li:hover{
    background-color:#d8f2f1;
}

#result#result{
    display: inline !important; 
    background-color: #7B8585 !important;
    color: #F8F8F8 !important;
    height: 200px !important;
    overflow: visible !important;
}